.ToDoItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
    margin: 1rem 0;
    border: none;
    &__btn {
        background: none;
        outline: none;
        border: none;
        width: 2rem;
        height: 2rem;
        img {
            width: 100%;
            height: auto;
        }
    }

}