.Register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem auto;
    &__title {
        margin-bottom: 2rem;
    }
    &__form {
        width: 35%;
    }
    &__input-block {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        label {
            font-size: 1.2rem;
        }
        input {
            font-size: 24px;
            line-height: 1.4em;
            font-weight: 300;
            color: #4d4d4d;
            font-style: italic;
            width: 100%;
            margin-right: 1rem;
            padding: .5rem;
            padding-right: 2rem;
            border: 1px solid #4d4d4d;
            border-radius: 10px;
            outline: none;
            &.error {
                border-color: rgb(167, 41, 41);
            }
        }
        p {
            font-size: 12px;
        }
    }

    &__btn-block {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        > * {
            margin: 1rem;
            padding: .5rem;
            color: #4d4d4d;
            text-decoration: none;
            &.green {
                border: 1px solid #4d4d4d;
                border-radius: 10px;
                background-color:rgba(15, 182, 23, 0.27);
                &:hover{
                    background-color:rgba(19, 156, 17, 0.55);
                }
            }
        }
        a {
            color: #4d4d4d;
        }
    }
}