.ToDoBlock {
    margin: 0 auto;
    min-width: 230px;
    max-width: 550px;
    border-radius: 3px;
    margin-top: 1rem;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}